In [15]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('C:/Users\prisc/apps/data-analytics-course/data/raw/proyecto chocolate/flavors_of_cacao.csv',
                 encoding="UTF8"
                 )

In [3]:
df.columns = ["Company", "Specific region of origin of bean", "REF", "Review date", "Cocoa %","Company location", "Rating", "Bean type", "Broad region of origin of bean"]
df

,Company,Specific region of origin of bean,REF,Review date,Cocoa %,Company location,Rating,Bean type,Broad region of origin of bean
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [4]:
df['Bean type']

0
1
2
3
4
          ...
1790
1791    Forastero
1792    Forastero
1793
1794
Name: Bean type, Length: 1795, dtype: object

In [5]:
valores_faltantes = df.isnull().sum()

# Mostrar los valores faltantes por columna
print("Valores faltantes por columna:")
print(valores_faltantes)

Valores faltantes por columna:
Company                              0
Specific region of origin of bean    0
REF                                  0
Review date                          0
Cocoa %                              0
Company location                     0
Rating                               0
Bean type                            1
Broad region of origin of bean       1
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Company                            1795 non-null   object
 1   Specific region of origin of bean  1795 non-null   object
 2   REF                                1795 non-null   int64
 3   Review date                        1795 non-null   int64
 4   Cocoa %                            1795 non-null   object
 5   Company location                   1795 non-null   object
 6   Rating                             1795 non-null   float64
 7   Bean type                          1795 non-null   object
 8   Broad region of origin of bean     1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [8]:
df.keys()

Index(['Company', 'Specific region of origin of bean', 'REF', 'Review date',
       'Cocoa %', 'Company location', 'Rating', 'Bean type',
       'Broad region of origin of bean'],
      dtype='object')

In [12]:
df["Bean type"][0]

'\xa0'

In [30]:
moda_bean = df['Bean type'].mode()[0]
moda_bean

'\xa0'

In [33]:
counts = df['Bean type'].value_counts()
moda_bean = df['Bean type'].mode()[0]
moda_bean2 = counts.index[1]  # El segundo valor más común
df2=df["Bean type"].replace(moda_bean,moda_bean2)

In [34]:
df2.to_csv('datos_corregidos.csv', index=False)

In [36]:
counts = df['Bean type'].value_counts()
moda_bean = df['Bean type'].mode()[0]
moda_bean2 = counts.index[1] if len(counts) > 1 else moda_bean

# Reemplaza los valores que coincidan con '\xa0'
df2 = df.copy()  # Hacemos una copia de df para no modificar el original
df2['Bean type'] = df2['Bean type'].replace(moda_bean, moda_bean2)

# Guarda el DataFrame modificado en un nuevo archivo CSV
df2.to_csv('data_modificada.csv', index=False)